<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diferencias entre Números</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/progress">Progreso</a></li>
            <li><a href="/practice">Práctica</a></li>
            <li><a href="/numberFriends">Amigos Números</a></li>
            <li><a href="/subtraction">Restas con el Número 5</a></li>
            <li><a href="/differences">Diferencias entre Números</a></li>
        </ul>
    </nav>
</header>
<main>

</body>
</html>